@font-face {
    font-family: 'Graphik';
    src: url('../font1/Graphik-Light.eot'),
        url('../font1/Graphik-Light.eot?#iefix') format('embedded-opentype'),
        url('../font1/Graphik-Light.woff2') format('woff2'),
        url('../font1/Graphik-Light.woff') format('woff'),
        url('../font1/Graphik-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
html{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body{
 
        font-family: 'Graphik';
        font-weight: 300;
        font-style: normal;
    
}
.container{
    position: absolute;
    top: 25%;
    width: 100%;
    display: flex;
    flex-flow: row-reverse;
}
.image{
    flex: 1 1 48%;
}
.image img{
    vertical-align: top;
    max-width: 100%;
    transition: opacity 0.5s;
}
.contactInfo{
    display: flex;
    flex: 3 3 50%;
    flex-flow: column;
    justify-content: flex-start;
    margin-top: 100px;
}
.title{
    
    line-height: 80px;
    margin: 0 auto;
    padding-bottom: 25px;
}
input{
   border:none;
   position: relative;
   left: -20px;
   margin: 0 auto;

   
}
hr{
    border:none;
    border-bottom:1px solid grey;
    position: relative;
    width: 200px;
    left:0px;
    margin-bottom: 30px;
}