@font-face {
    font-family: 'Graphik';
    src: url('../font1/Graphik-Light.eot'),
        url('../font1/Graphik-Light.eot?#iefix') format('embedded-opentype'),
        url('../font1/Graphik-Light.woff2') format('woff2'),
        url('../font1/Graphik-Light.woff') format('woff'),
        url('../font1/Graphik-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
html{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body{
 
        font-family: 'Graphik';
        font-weight: 300;
        font-style: normal;
    
}
.container{
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    flex-flow: row-reverse;
}
.image{
    flex: 1 1 50%;
}
.image img{
    vertical-align: top;
    max-width: 100%;
    min-height: 500px;
}
.contactInfo{
    display: flex;
    flex: 3 3 50%;
    flex-flow: column;
    justify-content: center;
}
